<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Authors</title>
    <style>
        body { font-family: sans-serif; line-height: 1.6; margin: 2em; max-width: 800px; margin-left: auto; margin-right: auto; }
        img { max-width: 100%; height: auto; }
    </style>
</head>
<body>
    <header>
        <h1>All Authors</h1>
        <nav>
            <a href="/">Home</a>
            {{#each pages}}
                <a href="/{{this.slug}}/">{{this.metadata.title}}</a>
            {{/each}}
            <a href="/authors/">Authors</a>
        </nav>
    </header>
    <main>
        <ul>
            {{#each authors}}
            <li>
                <h2><a href="/authors/{{this.slug}}/">{{this.name}}</a> ({{this.postCount}} Posts)</h2>
            </li>
            {{/each}}
        </ul>
    </main>
    <footer>
        <p>&copy; 2025 footer here</p>
    </footer>
</body>
</html>